/* components/RobokSwiper/RobokSwiper.wxss */
.swiper {
  height: 30vh;
  border: 0;
  box-shadow: 20px 20px 10px 0px rgba(0,0,0,0.2);
  border-radius: 3%;
  .swiper-item {
    border-radius: 3%;
  }
}